<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
    <div><span>{{ shipping.type }}</span></div>
    <div><span>{{ shipping.price | currency }} </span></div>
    
</div>
