<h1>product-details</h1>

<div *ngIf="product">
<h3>{{ product.name }}</h3>
<h4>{{ product.price | currency }}</h4>
<p>{{ product.description }}</p>

<button  (click)="addToCart(product)">Buy</button>
</div>