<h3>Your Shopping Cart</h3>

<p>
    <a routerLink="/shipping">shipping Price</a>

</p>

<div class="cart-item" *ngFor="let item of items">

    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>

</div>

<form  (ngSubmit)="onSubmit()">

    <div>
        <label for="name">Name</label>
        <input type="text" name="myName" [(ngModel)]="myName" placeholder="Your name">

    </div>
    <div>
        <label for="address">Address</label>
        <input id="address" type="text"  placeholder="Address">
    </div>

    <div>
        <label for="mobile">Mobile</label>
        <input id="mobile" type="text"  placeholder="Your Contact Number">
    </div>

    <button class="button" type="submit">Purchase</button>

</form>
