
<h1>Product list</h1>
<div *ngFor="let product of mobiles; index as productId">
    <h2>
    <a [title]=" product.name + 'details'" [routerLink]="['/products',productId]">
    {{ product.name }}

    {{ product.model }}
    
    </a>
</h2>
<p *ngIf="product.description">
    description:{{product.description}}
</p>
<p *ngIf="product.price">
    Price: {{product.price}}
</p>
<button (click)="share()">
    share
</button>



<app-product-alert 
[product]="product"
(notify)="onNotify()">
</app-product-alert>

</div>
